/data/val2017
/data/degraded_images
/data/restored_images
/data/original_images
/data/detection_output
/data/original_images.cache
/data/original_images.tar.gz
/src/yolov8s.pt
/dip_project_env
/src/Denoising/pretrained_models
/src/Motion_Deblurring/pretrained_models
.DS_Store
/src/__pycache__/